@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .page-active {
    @apply text-gray-800 dark:text-gray-100;
  }
  .animate-scroll {
    animation: scroll 25s linear infinite;
  }
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
